.auth-tiling-bg,
.auth-background,
.container-2oOGIt,
.appMount-14L89u {
	background: var(--background) center/cover !important;
	opacity: 1 !important;
	animation: none !important;
}

.uploadArea-23on8q,
.backdrop-2ohBEd {
	background: var(--backdrop) center/cover !important;
	opacity: 1 !important;
	animation: none !important;
}

.noChannel-2EQ0a9,
.activityFeed-HeiGwL,
.lfg-3xoFkI,
.app,
.auth-center,
.auth-form,
.layers-20RVFW,
.layer-kosS71,
.container-2OU7Cz,
.popout section,
.content-region,
.guilds-wrapper,
#friends .tab-bar-item:hover,
.input-2YozMi,
.item-2zi_5J:not([style*="rgb(114, 137, 218)"]) .checked-2TahvT,
.containerUserOver-2YhVL6::after,
.chat .inner-3if5cm,
.message-group-blocked,
.embedInner-t4ag7g,
.changeDetails-zbf-61,
.Select-control,
.form-inner,
.private-channel-call,
.react-datepicker__header,
.react-datepicker__month-container,
.react-datepicker__day--disabled:not(.react-datepicker__day--outside-month),
.search-2--6aU .search-bar,
.search-results-wrap,
.search-results-wrap .search-header,
.sidebar-region,
:not(.tab-content) > .ui-standard-sidebar-view,
.card-3DrRmC,
.channels-3g2vYe,
.container-3lnMWU,
.container-iksrDt,
.reactors-2PjMP0 {
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}

.sidebar-32BRdp {
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 2)) !important;
}

.tutorial-popout .title-content,
.modal-2LIEKY .header,
.modal-2LIEKY .footer,
.wrapper-1XTKlU,
.popout header,
.popout .header,
.popout .footer,
.auth-brand,
.date-picker-hint,
.modal-3HOjGZ,
.modal-3HOjGZ .header-3sp3cE,
.modal-3HOjGZ .footer-1PYmcw,
.divider-1G01Z9,
.divider-ShvCWe,
.divider span,
.divider > div,
.guild-inner,
.header-1UnvfG,
.itemDefault-3NDwnY:hover,
.selectableItem-3PW5_y:hover,
.friend:hover,
.ui-tab-bar-item:hover,
.friends-row:hover,
.channel:hover a,
.member:hover,
.member.popout-open,
.member-2FrNV0:hover .content-3JzEqq,
.member-2FrNV0.popout-open .content-3JzEqq,
.input-3_iTLI,
.attachment-1Vom9D,
.wrapperHoveredCollapsed-25KVVp,
.wrapperHovered-1KDCyZ,
.wrapperLockedVoice-1XZJmE:hover .content-2mSKOj,
.wrapperHoveredVoice-3tbfNN .content-2mSKOj,
.wrapperHoveredText-1PA_Uk .content-2mSKOj,
.userHovered-3tfm93,
.message-group .inline,
.message-group pre,
.message-group-blocked-btn,
.number-30pAHE,
.bda-slist li,
.cardPrimary-ZVL9Jr,
.cardPrimaryOutline-2YyAz2,
.selectorSelected-2M0IGv,
#autocomplete-popout .row.selected,
.game-name-input:hover,
.game-name-input:focus,
.selectableItem-3PW5_y:hover,
.not-detected,
.previewOverlay-2vHj3H,
.private-channel-call-actions .center,
.search-results-wrap .search-result-message.hit,
.react-datepicker__day--outside-month,
.embed-2diOCQ,
.wrapper-uAa07y,
.invite-CTGItT,
.close-3ejNTg:hover,
.guild-separator::after,
button.guild {
	border-color: transparent !important;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.bubble-17BwqU,
.container-2oeFrl {
	background: rgba(var(--transparencycolor),0.8) !important;
}

.bubble-17BwqU:before {
	border-top-color: rgba(var(--transparencycolor),0.8) !important;
}

.bar-2cFRGz {
	padding: 1px;
}

.Select-control,
.message-group-blocked,
.input-2YozMi:not(:focus),
.container-3lnMWU,
.cardPrimaryEditable-2IQ7-V,
.react-datepicker__day:not(.react-datepicker__day--outside-month) {
	border-color: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.Select-control:hover {
	border-color: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 6)) !important;
}

.message-25xg43 {
	box-shadow: none !important;
	border: none !important;
	border-radius: 5px !important;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 2)) !important;
	padding-left: 10px;
}

.emojiButtonNormal-2yO7yT {
	opacity: 0.5 !important;
}

input:disabled {
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
	filter: brightness(50%) !important;
}
.nameSelectedText-32NDX5,
.nameHoveredText-2FFqiz,
.nameSelectedVoice-XpjYTw,
.nameHoveredVoice-TIoHRJ {
	color: #FFF;
}
.colorSelectedText-3YhFC6 path,
.colorHoveredText-1CsxK1 path,
.colorSelectedVoice-ieXC3Z path,
.colorHoveredVoice-1P3kui path {
	color: #FFF;
	opacity: 1 !important;
}
.messages-popout-wrap {
	width: 500px !important;
}

.content-249Pr9 {
    color: #f6f6f7 !important;
}

.keybindShortcut-tTramc span {
	color: hsla(0,0%,100%,.8) !important;
	background: rgba(var(--accentcolor),0.3) !important;
	border-color: rgba(var(--accentcolor),1) !important;
	box-shadow: inset 0 -4px 0 rgba(var(--accentcolor),0.5) !important;
}
.keybindShortcut-tTramc [fill]:not([fill="none"]) {
	fill: hsla(0,0%,100%,.8) !important;
}
.keybindShortcut-tTramc [stroke]:not([stroke="none"]) {
	stroke: hsla(0,0%,100%,.8) !important;
}

.react-datepicker__header {
	padding-bottom: 5px !important;
}
.date-picker-hint {
	margin: 0 !important;
	padding: 20px !important;
}
.react-datepicker__navigation {
	top: 30px !important;
}
.react-datepicker__navigation--previous {
	left: 30px !important;
}
.react-datepicker__navigation--next {
	right: 30px !important;
}
.react-datepicker__current-month {
	padding: 10px 0 !important;
}
.react-datepicker__day:not(.react-datepicker__day--disabled):hover,
.react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
	color: #FFF !important;
}
.react-datepicker__day--disabled:not(.react-datepicker__day--outside-month) {
	color: #888 !important;
}
.react-datepicker__day--outside-month {
	color: #333 !important;
}

.action-buttons {
	top: 15px !important;
	right: 0px !important;
}
.search-result .action-buttons {
	right: 20px !important;
}
.action-buttons .jump-button,
.action-buttons .close-button {
	border-radius: 3px !important;
	height: 14px  !important;
	margin: 0 3px !important;
	padding: 3px !important;
	background-color: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}
.message-group:hover .jump-button,
.message-group:hover .close-button {
	opacity: 0.5 !important;
}
.message-group .jump-button:hover,
.message-group .close-button:hover {
	opacity: 1 !important;
}
.action-buttons .text {
	color: #FFF !important;
}

.card-11ynQk {
	margin: 0 0 6px 0 !important;
}
.card-11ynQk::before {
	border: none !important;
	opacity: 1 !important;
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
	transition: background .1s ease !important;
}

.card-11ynQk:hover::before {
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.message-group {
	padding: 12px 0 10px 0 !important;
	border-radius: 5px !important;
}
.message-group.compact {
	padding: 3px 0 !important;
}
.message-group.compact.has-divider {
	padding-bottom: 8px !important;
}
.divider + .message-group.compact {
	padding-top: 8px !important;
}
.message-group .comment {
	padding: 10px !important;
	border-radius: 5px !important;
	background: rgba(var(--transparencycolor),var(--messagetransparency));
}
.message-group.compact .comment {
	padding: 0 !important;
}
.message-group .avatar-large::after {
	content: "";
	position: relative;
	float: left;
	left: 35px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 15px solid rgba(var(--transparencycolor),var(--messagetransparency));
}
.message-group .inline {
	padding: 0.6px 5px !important;
}

.wrapper-11sL4k button,
.accountBtnInner-3zsU2z,
.button-1qrA-N {
	background-color: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}

.friends-action,
.button-1qrA-N:hover,
.guild.audio .guild-inner::after,
.guild.video .guild-inner::after {
	background-color: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.embed-2diOCQ,
.embedInner-t4ag7g {
	max-width: 100% !important;
}

.modal-3HOjGZ,
.modal-3HOjGZ .header-3sp3cE {
	box-shadow: 0 1px 0 0 rgba(var(--transparencycolor),.3), 0 1px 2px 0 rgba(var(--transparencycolor),.3) !important;
}
.modal-3HOjGZ .footer-1PYmcw {
	box-shadow: inset 0 1px 0 rgba(var(--transparencycolor),.1) !important;
}
.modal-3HOjGZ .header-3sp3cE + .inner-tqJwAU,
.modal-3HOjGZ .header-3sp3cE + .scrollerWrap-2uBjct > .scroller-fzNley {
	padding-top: 10px;
}

.modal-3HOjGZ .base-3AoPqv {
	border-radius: 0 !important;
}

.channels-3g2vYe > div:nth-child(2) {
	border-radius: 5px 5px 0 0 !important;
}

.header-1UnvfG,
.changeDetails-zbf-61,
.member,
.member-2FrNV0 .content-3JzEqq,
.channel, 
.wrapperHoveredCollapsed-25KVVp,
.wrapperHovered-1KDCyZ,
.userHovered-3tfm93 {
	border-radius: 3px !important;
}

.container-2oOGIt::after,
.backdrop-2ohBEd::after {
	content: "";
	pointer-events: none !important;
	position: absolute;
	top: 22px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 2)) !important;
}
.container-2oOGIt .content-3dsgDG {
	position: relative !important;
}
.container-2oOGIt .content-3dsgDG ,
.container-2oOGIt .problems-2jwWfL {
	z-index: 100 !important;
}
.hidden-by-OTB ~ * .container-2oOGIt::after,
.hidden-by-OTB ~ * .backdrop-2ohBEd::after {
	top: 0 !important;
}

.titleBar-3_fDwJ::after {
	content: "";
	pointer-events: none !important;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 4)) !important;
}

.chat form {
	box-shadow: 0 -1px 0 rgba(var(--transparencycolor),.3) !important;
}
.chat form .channelTextArea-1HTP3C {
	position: relative !important;
	z-index: 20 !important;
}
.chat form::after {
	content: "";
	pointer-events: none !important;
	position: absolute;
	z-index: 10;
	border-radius: 0 10px 0 0;
	top: 0;
	left: -20px;
	width: calc(100% + 40px);
	height: 100%;
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}

.image-2GuWXL,
.image-3Y4mXQ,
.userSettingsSecurityImage-3BuJq-,
.emptyIconFriends-2q_v-C,
.empty-state-image,
.error-state .icon,
.imageError-11mA4M,
.image-2XJctU,
.sad-discord,
.artwork-LJqOaz,
img[src="/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg"],
.empty-placeholder .image {
	opacity: 0.5 !important;
	pointer-events: none !important;
}

#friends,
.friends-table,
.friend-table-add-header,
.tab-content > .ui-standard-sidebar-view,
.chat .content,
.chat,
.chat form,
.content .flex-spacer,
.embed-2diOCQ,
.media-engine-video,
.auditLog-1XsYCj,
.messages-wrapper,
.message-group,
.message-group code,
.userPopout-11hFKo .activity-3NviKQ,
.typing-3eiiL_,
.action-buttons,
.wrapper-2ldvyE,
.bd-modal-body,
.tutorial-popout section,
.friend:not(:hover),
#friends .tab-bar-item,
.video-3lOWa6,
.category-3rCtoh,
.incomingCallInner-1LQbjf,
.react-datepicker,
.container-RYiLUQ,
.headerBar-cxbhPD,
.titleBar-3_fDwJ,
.titleWrapper-3Vi_wz .title-qAcLxz,
.search-results-wrap .search-result::before,
.search-results-wrap .search-result::after,
.search-results-wrap .channel-name {
	background: transparent !important;
}

.channel-members {
	background: rgba(var(--transparencycolor), var(--memberlistransparency)) !important;
}

.is-local-bot-message,
.action-buttons,
.auditLog-1XsYCj,
.row-3ZE8bQ,
.bar-Y-RLyN,
.card-11ynQk,
.search-results-wrap .search-result-message.hit {
	box-shadow: none !important;
}

.item-2zi_5J[style*="border-color: rgb(114, 137, 218)"],
.auditLog-1XsYCj,
.friend-table-add-header,
.changeDetails-zbf-61,
.incomingCallInner-1LQbjf,
.date-picker,
.date-picker-hint,
.embedInner-t4ag7g,
.search-popout .search-query,
.accountBtnInner-3zsU2z,
.callAvatarStatus-2ybelh,
.message-group,
.wrapper-11sL4k button,
.accountBtnInner-3zsU2z,
.status,
.iconBadge-1FYlQB {
	border-color: transparent !important;
}

.edit-container-outer .avatar-large,
.divider + .divider,
.divider::before {
	visibility: hidden !important;
}

.autocomplete-arrow-wrapper {
	display: none !important;
}


/* ----------------------- COLORING ----------------------- */

:not(.guild):not(.guild-inner):not(.channel):not(.instructions-KnejBP) > a:not(.textLink-3OYObV):not(.bodyLink-rRVoAA):not(.search-bar-tag):not(.channel-3YGMy1):not(.downloadLink-wANcd8):not(.embedAuthorName-29phCh):not([style]),
.tab.selected,
.h1-DagER3,
.improved-2HhjlK,
.userSettingsSecurity-1hjwAn .isEnabled-3JekTu,
.bd-modal-body .tab-bar-item.selected,
.header-tab-bar-wrapper .tab-bar-item.selected,
.tabBarContainer-3RVZc- .tab-bar-item.selected,
.regionSelect-1lpijo:not(:hover) button,
.divider-red span,
.itemDefault-3NDwnY[style*="rgb(114, 137, 218)"] {
	color: rgb(var(--accentcolor)) !important;
}

.spinner-wandering-cubes .spinner-item,
.wanderingCubesItem-35kyMu,
.channels-3g2vYe [class*="containerDrag"]:before,
.channels-3g2vYe [class*="containerDrag"]:after,
.improved-2HhjlK::after,
.auth-name::after,
.botTagRegular-288-ZL:not([style]),
.aka-2Ba14Z,
.jump-to-present-bar,
.new-messages-bar,
.has-more button,
#friends .tab-bar-item.selected,
.guild.active .guild-inner,
.guild.selected .guild-inner[style*="background-color:"],
.guild-inner[style*="background-color:"]:hover,
#RANbutton:hover,
.embedPill-3sYS1X:not([style]),
.searchFilter-1fJ0cd,
.searchAnswer-yD90ey,
.search-bar-tag,
.checked-2TahvT[style*="background-color: rgb(114, 137, 218)"],
.barFill-18ABna:not(.fill),
.progressBar-mI5LOq,
.valueChecked-3Bzkbm,
.ui-switch.checked,
.checkbox-inner input[type=checkbox]:checked + span,
.bd-pfbtn,
.bda-right button,
.bda-settings-button,
.date-picker-hint .hint-value,
.react-datepicker__day:not(.react-datepicker__day--disabled):hover,
.react-datepicker__day--today::after,
.ui-tab-bar-item.selected,
.channel.selected a,
.wrapperSelectedVoice-1Q1ocJ .content-2mSKOj,
.wrapperSelectedText-31jJa8 .content-2mSKOj,
.itemSelected-3XxAMf,
.itemSelected-3XxAMf[style*="background-color: rgb(114, 137, 218)"],
.selectableItem-3PW5_y.selected-3MAwPR,
.item-2zi_5J[style*="background-color: rgb(114, 137, 218)"],
.round-30vw42.checked-2TahvT[style*="background-color: rgb(67, 181, 129)"],
.regionSelect-1lpijo:hover button,
.questionMark-1R8WLs,
.root-2sNHUF .buttonInvertedDefault-1UdvTn,
.popout .btn,
.friends-empty .btn,
.bd-modal button,
.tutorial-popout .button,
.private-channel-recipients-invite button,
.btn-primary {
	background: rgb(var(--accentcolor)) !important;
}

.lookFilled-luDKDo.colorBrand-3PmwCE,
.lookFilled-luDKDo.colorLink-Ttelix,
.root-2sNHUF > [class*="topSection"] .lookFilled-luDKDo.colorGreen-22At8E {
	background: rgb(var(--accentcolor)) !important;
}
.lookGhost-GyT-k0.colorBrand-3PmwCE,
.lookGhost-GyT-k0.colorLink-Ttelix {
	color: rgb(var(--accentcolor)) !important;
	background: rgba(var(--accentcolor),0.1) !important;
}
.lookOutlined-1c5nhl.colorBrand-3PmwCE,
.lookOutlined-1c5nhl.colorLink-Ttelix {
	color: rgb(var(--accentcolor)) !important;
	border-color: rgb(var(--accentcolor)) !important;
}
.lookInverted-2lPGe7.colorBrand-3PmwCE,
.lookInverted-2lPGe7.colorLink-Ttelix {
	color: rgb(var(--accentcolor)) !important;
}
.lookLink-3VWONr.colorBrand-3PmwCE .contents-4L4hQM,
.lookLink-3VWONr.colorLink-Ttelix .contents-4L4hQM {
	color: rgb(var(--accentcolor)) !important;
}
.lookLink-3VWONr.colorBrand-3PmwCE:active .contents-4L4hQM, 
.lookLink-3VWONr.colorBrand-3PmwCE:hover .contents-4L4hQM,
.lookLink-3VWONr.colorLink-Ttelix:active .contents-4L4hQM, 
.lookLink-3VWONr.colorLink-Ttelix:hover .contents-4L4hQM {
	background-image: linear-gradient(0deg,transparent,transparent 1px,rgb(var(--accentcolor)) 0,rgb(var(--accentcolor)) 2px,transparent 0) !important;
}
.lookFilled-luDKDo.colorPrimary-2KuK5O {
	background: rgb(200,200,200) !important;
}
.lookGhost-GyT-k0.colorPrimary-2KuK5O {
	color: rgb(200,200,200) !important;
	background: rgba(200,200,200,0.1) !important;
}
.lookOutlined-1c5nhl.colorPrimary-2KuK5O {
	color: rgb(200,200,200) !important;
	border-color: rgb(200,200,200) !important;
}
.lookInverted-2lPGe7.colorPrimary-2KuK5O {
	color: rgb(200,200,200) !important;
}
.lookLink-3VWONr.colorPrimary-2KuK5O .contents-4L4hQM {
	color: rgb(200,200,200) !important;
}
.lookLink-3VWONr.colorPrimary-2KuK5O:active .contents-4L4hQM, 
.lookLink-3VWONr.colorPrimary-2KuK5O:hover .contents-4L4hQM {
	background-image: linear-gradient(0deg,transparent,transparent 1px,rgb(200,200,200) 0,rgb(200,200,200) 2px,transparent 0) !important;
}
.lookOutlined-1c5nhl.colorRed-3HTNPV {
	color: #fff;
	background: rgb(240,71,71) !important;
	border: none !important;
}

.now-playing {
	background: rgba(var(--accentcolor), calc(var(--transparencyalpha) * 3)) !important;
}

.avatar-uploader-inner,
.guildIcon-KMiSsu.noIcon-1WB-Um,
.button-1aU9q1:hover,
.button-3WJ5FX:hover,
.wrapper-11sL4k button:hover,
.accountBtnInner-3zsU2z:hover,
.friends-action-video-call:hover,
.friends-action-voice-call:hover,
.friends-column-guilds .avatar-small {
	background-color: rgb(var(--accentcolor)) !important;
}

.guildIconExpired-2MVLDd {
	background-color: rgba(47,49,54,.6) !important;
}

.ui-standard-sidebar-view .btn-close:hover {
	background-color: rgba(var(--accentcolor), calc(var(--transparencyalpha) * 3)) !important;
}

.regionSelect-1lpijo:hover 
.regionSelectInner-1cIYbU, 
.regionSelect-1lpijo:hover button,
.has-more button,
.input-2YozMi:focus,
.tab.selected,
.tab-bar-item.selected,
.containerUserOver-2YhVL6::after,
.checkbox-inner input[type=checkbox]:checked + span,
.item-2zi_5J[style*="border-color: rgb(114, 137, 218)"] .checked-2TahvT,
.checked-2TahvT[style*="border-color: rgb(114, 137, 218)"],
.round-30vw42.checked-2TahvT[style*="border-color: rgb(67, 181, 129)"] {
	border-color: rgb(var(--accentcolor)) !important;
}

.helpIcon-WaXXVy {
	background: rgb(var(--accentcolor)) !important;
}
.helpIcon-WaXXVy g {
	fill: #FFF !important;
}

.round-30vw42.checked-2TahvT[style*="background-color: rgba(67, 181, 129, 0.14902)"] {
	background-color: rgba(var(--accentcolor), 0.14902) !important;
}
.round-30vw42.checked-2TahvT[style*="border-color: rgba(67, 181, 129, 0.14902)"] {
	border-color: rgba(var(--accentcolor), 0.14902) !important;
}
.round-30vw42.checked-2TahvT polyline[stroke="#43b581"] {
	stroke: rgb(var(--accentcolor)) !important;
}
.checked-2TahvT[style*="background-color: rgba(114, 137, 218, 0.14902)"] {
	background-color: rgba(var(--accentcolor), 0.14902) !important;
}
.checked-2TahvT[style*="border-color: rgba(114, 137, 218, 0.14902)"] {
	border-color: rgba(var(--accentcolor), 0.14902) !important;
}
.checked-2TahvT polyline[stroke="#7289DA"] {
	stroke: rgb(var(--accentcolor)) !important;
}

.callAvatarBorder-OF5XZJ.video-WCePbA.selected-3pqJJJ:not(.speaking-dRlv0T) {
    box-shadow: inset 0 0 0 2px rgb(var(--accentcolor)) !important;
}

.searchBar-YMJBu9 {
	border-radius: 5px !important;
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}
.searchBar-YMJBu9 .input-yt44Uw {
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
	border-radius: 3px !important;
	border-style: solid !important;
	border-width: 1px !important;
	color: #FFF !important;
	margin-right: 3px !important;
	transition: background-color .15s ease,border .15s ease !important;
}
.searchBar-YMJBu9 .input-yt44Uw:not(:focus) {
	border-color: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}
.searchBar-YMJBu9 .input-yt44Uw:focus {
	border-color: rgb(var(--accentcolor)) !important;
}

.wrapperSelectedVoice-1Q1ocJ .wrapper-2ldvyE,
.Select-control,
.Select-value-label,
.Select-option,
.tutorial-popout .content p,
.input-2YozMi,
#friends .tab-bar-item.selected,
.react-datepicker__current-month,
.react-datepicker__day-name,
.date-picker-hint .hint,
.date-picker-hint .hint-value,
.new-messages-bar button,
.has-more button {
	color: #FFF !important;
}

.new-messages-bar button:hover {
	text-decoration: underline;
}

.botTagInvert-gorWR_ {
	background: white;
	color: rgb(var(--accentcolor));
	padding: 1px 4px;
}

#RANbutton,
.guild-inner {
	transition: background 500ms ease !important;
}

.private-channels .channel .close:not(:hover) {
	opacity: 0.2 !important;
}

.reaction-me {
	background: rgba(var(--accentcolor),0.1) !important;
}
.reaction-me .reaction-count {
	color: rgba(var(--accentcolor),1) !important;
}
.reaction-me,
.message-3gHzqQ strong,
.mention:not([style]) {
	color: rgba(var(--accentcolor),1) !important;
	background: rgba(var(--accentcolor),0.1) !important;
}
.mention:not([style]):hover {
	color: white !important;
	background: rgba(var(--accentcolor),1) !important;
}
.mention:hover {
	text-decoration: underline !important;
}
.mentioned .mention {
	background: transparent !important;
}

.mentioned .message-text::after {
	background: rgba(var(--accentcolor),0.2) !important;
	border-left-color: rgba(var(--accentcolor),0.8) !important;
}
.mentioned .message-text {
	background: rgba(var(--accentcolor),0.2) !important;
}

.tooltip {
	color: #FFF !important;
	background-color: rgb(var(--accentcolor)) !important;
}
.tooltip-right::after {
	border-right-color: rgb(var(--accentcolor)) !important;
}
.tooltip-top::after {
	border-top-color: rgb(var(--accentcolor)) !important;
}
.tooltip-left::after {
	border-left-color: rgb(var(--accentcolor)) !important;
}
.tooltip-bottom::after {
	border-bottom-color: rgb(var(--accentcolor)) !important;
}
.tooltip-red.tooltip {
	color: #FFF !important;
	background-color: rgb(240,71,71) !important;
}
.tooltip-red.tooltip-right::after {
	border-right-color: rgb(240,71,71) !important;
}
.tooltip-red.tooltip-top::after {
	border-top-color: rgb(240,71,71) !important;
}
.tooltip-red.tooltip-left::after {
	border-left-color: rgb(240,71,71) !important;
}
.tooltip-red.tooltip-bottom::after {
	border-bottom-color: rgb(240,71,71) !important;
}

.container-1WaXoH polyline[style*="stroke: slategray"],
.circular-2U7_1N circle,
.item-2zi_5J[style*="rgb(114, 137, 218)"] .checked-2TahvT polyline {
	stroke: rgb(var(--accentcolor)) !important;
}
.container-1WaXoH polyline[style*="fill: slategray"] {
	fill: rgb(var(--accentcolor)) !important;
}

.guilds-error {
	background: rgba(240,71,71,calc(var(--transparencyalpha) * 3)) !important;
}

.unread-2TDDFN,
.mention-RlZ5F3 {
	background: rgba(240,71,71,calc(var(--transparencyalpha) * 6)) !important;
}

.itemDefault-3NDwnY[style*="background-color: rgb(240, 71, 71)"],
.tab-bar-item.selected .badge {
	color: #fff;
	background: rgb(240,71,71) !important;
	border: none !important;
}

.friends-action-ignore:hover {
	background-color: rgb(240,71,71) !important;
}

.popout .btn,
.friends-empty .btn,
.bd-modal button,
.private-channel-recipients-invite button,
.item-2zi_5J,
.valueChecked-3Bzkbm,
.bda-settings-button,
.bda-right button,
.tab-bar-item,
.friends-action,
.unread-2TDDFN,
.mention-RlZ5F3,
.questionMark-1R8WLs,
.jump-to-present-bar,
.new-messages-bar,
.has-more button,
.wrapper-11sL4k button,
.accountBtnInner-3zsU2z,
.button-1aU9q1,
.button-3WJ5FX,
.button-1qrA-N,
.button-2t3of8 {
	transition: all 100ms linear !important;
}
.popout .btn:hover,
.friends-empty .btn:hover,
.bd-modal button:hover,
.private-channel-recipients-invite button:hover,
.valueChecked-3Bzkbm:hover,
.bda-settings-button:hover,
.bda-right button:hover,
.tab-bar-item:hover,
.unread-2TDDFN:hover,
.mention-RlZ5F3:hover,
.questionMark-1R8WLs:hover,
.jump-to-present-bar:hover,
.new-messages-bar:hover,
.has-more button:hover,
.btn-primary:hover,
.button-2t3of8:hover {
	filter: brightness(150%) !important;
}

.bd-toast,
.toast {
	background-color: rgba(var(--transparencycolor), 0.9) !important;
	box-shadow: 0 0 0 1px rgba(var(--transparencycolor), 0.6), 0 2px 10px 0 rgba(0,0,0,.2) !important;
}
.toast-brand,
.noticeBrand-3o3fQA {
	background-color: rgba(var(--accentcolor), 0.9) !important;
}
.noticeBrand-3o3fQA .button-2TvR03:hover {
	color: rgb(var(--accentcolor)) !important;
}
.toast-danger, 
.toast-error,
.noticeDanger-1SIxaf {
	background-color: rgba(240, 71, 71, 0.9) !important;
}
.toast-default,
.noticeDefault-16Om2m {
	background-color: rgba(242, 101, 34, 0.9) !important;
}
.toast-facebook,
.noticeFacebook-1eAoSW {
	background-color: rgba(53, 80, 137, 0.9) !important;
}
.toast-info,
.noticeInfo-3v29SJ {
	background-color: rgba(74, 144, 226, 0.9) !important;
}
.toast-premium,
.noticePremium-2x9Tv2 {
	background-color: rgba(32, 34, 37, 0.9) !important;
}
.toast-spotify,
.noticeSpotify-27AKmv {
	background-color: rgba(29, 185, 84, 0.9) !important;
}
.toast-streamermode,
.noticeStreamerMode-1OlfKV {
	background-color: rgba(89, 54, 149, 0.9) !important;
}
.toast-success,
.noticeSuccess-P1EnBb {
	background-color: rgba(67, 181, 129, 0.9) !important;
}
.toast-warning,
.toast-warn {
	background-color: rgba(255, 166, 0, 0.9) !important;
}


